#form {
    margin: 0 -11vw;
    padding: var(--40to64px) 11vw;

    background-color: var(--light-gray-1);

    @media (max-width: 1200px) {
        margin: 0 -8vw;
        padding: var(--40to64px) 8vw;
    }

    @media (max-width: 800px) {
        margin: 0 -5.2vw;
        padding: var(--40to64px) 5.2vw;
    }

    .wrapper {
        @include flex();
        gap: 3.2rem;

        >* {
            background-color: var(--white);
        }

        .form-wrapper {
            @include column-gap($gap: 3.2rem);
            padding: 3.2rem 3.2rem 0;
            border-radius: .8rem;

            >* {
                width: 100%;
            }


            h1 {
                @extend %medium;
            }

            form {
                flex: 1;

                fieldset {
                    &:not(:first-child) {
                        margin-top: 4rem;
                    }

                    .address,
                    .payment {
                        grid-column: span 2;
                    }

                    .radio-group {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 1.6rem;
                    }

                    &.payment-details {
                        .inputs-wrapper {
                            row-gap: 0;
                        }

                        .e-money-info {
                            max-height: 0;
                            overflow: hidden;
                            @include ease-out(max-height);
                        }

                        &.e-money {
                            .inputs-wrapper {
                                row-gap: 1.6rem;
                            }

                            .e-money-info {
                                @include ease-in(max-height);
                                max-height: 40rem;
                                overflow: unset;
                            }
                        }
                    }
                }
            }

            .notification {
                @extend %center;
                gap: 3.2rem;

                max-height: 0;
                overflow: hidden;
                @include ease-out(max-height);

                svg {
                    height: 4.8rem;
                    width: 4.8rem;
                    flex-basis: 4.8rem;
                    flex-shrink: 0;
                }

                p {
                    opacity: .5;
                    font-size: 1.5rem;
                }

                &.show {
                    @include ease-in(max-height);
                    max-height: 40rem;
                    padding-bottom: 3.2rem;
                }
            }
        }

        .cart-background {
            position: static;
            padding: 0;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            width: 34rem;
            flex-shrink: 0;
            height: fit-content;
            background: none;
            z-index: unset;

            .cart {
                margin: 0;
                width: 100%;
                height: auto;
                max-width: unset;
            }
        }
    }
}

@media (max-width: 950px) {
    #form {
        .wrapper {
            flex-direction: column;

            .cart-background {
                width: 100%;
            }
        }

    }
}

@media (max-width: 450px) {
    #form {
        .wrapper {
            flex-direction: column;

            .form-wrapper {
                padding: 2rem 2rem 0;

                form {
                    fieldset {
                        &:not(:first-child) {
                            margin-top: 4rem;
                        }

                        .radio-group {
                            grid-template-columns: 1fr;
                        }
                    }
                }
            }
        }

    }
}