.product-intro {
    @extend %center;
    gap: 8.33vw;

    >* {
        flex: 1;
    }

    figure {
        img {
            background-color: var(--light-gray-1)
        }
    }

    .texts {
        .new {
            @include overline();
            color: var(--warm-brown);
            margin-bottom: 1.6rem;
        }

        h2 {
            @extend %large;
            margin-bottom: 2rem;
        }

        .desc {
            opacity: 50%;
        }

        .price {
            margin-top: 4rem;
            margin-bottom: .8rem;
            opacity: .8;
            @include x-small;
        }

        a {
            margin-top: 3.2rem;
        }
    }

    .button-wrapper {
        @include flex();
        align-items: stretch;
        gap: 2rem;
        margin-top: 4rem;

        .quantity-button {
            margin: 0;
        }

        a.primary {
            margin: 0;
        }

        label {
            display: none;
        }
    }
}

@media screen and (max-width: 950px) {
    .product-intro {
        flex-direction: column !important;

        figure {
            width: 100%;
            img {
                height: 35rem;
            }
        }

        .texts {
            text-align: center;
        }

        .button-wrapper {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 450px) {}