.product-intro {
    @extend %center;
    gap: var(--12rem);

    figure {
        max-width: 54rem;
        align-self: stretch;
        border-radius: .8rem;

        img {
            border-radius: inherit;
            background-color: var(--light-gray-1)
        }
    }

    .texts-button-wrapper {
        @include column-gap($gap: 3.2rem);

        .texts {
            @include column-gap($gap: 2rem);

            .new {
                @include overline();
                color: var(--warm-brown);
            }

            h2 {
                @extend %large;
            }

            .desc {
                opacity: 50%;
            }
        }

        .price {
            opacity: .8;
            @include x-small;
        }

        .button-wrapper {
            @include flex($alite: stretch);
            gap: 2rem;

            label {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .product-intro {
        flex-direction: column !important;

        figure {
            max-width: unset;

            img {
                height: 32rem;
            }
        }

        .texts-button-wrapper {
            align-items: center;

            .texts {
                align-items: center;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .product-intro {
        .texts-button-wrapper {
            align-items: flex-start;

            .texts {
                align-items: flex-start;
                text-align: left;
            }
        }
    }
}