.main-nav {
    transition: clip-path .3s ease-in;

    ul {
        @extend %center;
        gap: 3.4rem;

        li {
            a {
                &:hover {
                    color: var(--warm-brown);
                }
            }
        }
    }
}