#main-header {
    position: sticky;
    top: 0;
    height: 8rem;
    @extend %space-between;

    border-bottom: 1px solid rgba(#ffffff, 0.2);
    background-color: var(--black);
    color: var(--white);
    z-index: 1;

    .hamburger {
        display: none;

        &:hover {
            path {
                fill: var(--warm-brown);
            }
        }
    }

    .logo {
        svg {
            path {
                fill: var(--white);
            }

            &:hover {
                path {
                    fill: var(--warm-brown);
                }
            }
        }
    }

    >#categories {
        height: 100vh;
        width: 100vw;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        @include ease-in();
        background-color: rgba($color: #000000, $alpha: .4);
        color: var(--black);
        display: none;

        &.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        .wrapper {
            padding: 3.2rem;
            background-color: var(--white);
        }
    }

    .buttons {
        @include flex();
        gap: 1.6rem;

        svg {
            path {
                fill: var(--white);
            }

            &:hover {
                path {
                    fill: var(--warm-brown);
                }
            }
        }
    }

}

@media (max-width: 800px) {
    #main-header {
        justify-content: flex-start;

        .hamburger {
            display: block;
        }

        .logo {
            margin-left: 4rem;
        }

        >nav {
            display: none;
        }

        >#categories {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;

            .wrapper {
                ul {
                    gap: 2rem;

                    li {
                        height: 20rem;
                        max-height: 20rem;
                        padding-bottom: 2.4rem;

                        .img-div {
                            height: 10rem;
                        }

                        h2 {
                            margin-top: auto;
                        }

                        a {
                            margin-top: .8rem;
                        }
                    }
                }
            }
        }

        .buttons {
            margin-left: auto;
        }
    }
}

@media (max-width: 800px) {
    #main-header {
        .logo {
            margin-left: 2.4rem;
        }
    }
}