#about {
    margin: var(--12rem) 0;

    .wrapper {
        @extend %center;
        gap: var(--12rem);

        >* {
            flex: 1;
        }

        .texts {
            h2 {
                @extend %large;

                span {
                    @extend %large;
                    color: var(--warm-brown);
                }
            }

            p {
                margin-top: 3.2rem;
                opacity: 50%;
            }
        }

        .img-div {
            align-self: stretch;
            border-radius: inherit;
            border-radius: .8rem;
        }
    }

}

@media screen and (max-width: 950px) {
    #about {
        .wrapper {
            flex-direction: column-reverse;

            .texts {
                >* {
                    text-align: center;
                }

                .img-div {
                    height: 30rem;
                }
            }
        }
    }
}