#about {
    margin: 8rem 0;
    .wrapper {
        @extend %center;
        gap: 8rem;

        >* {
            flex: 1;
        }

        .texts {
            h2 {
                @extend %large;

                span {
                    @extend %large;
                    color: var(--warm-brown);
                }
            }

            p {
                margin-top: 3.2rem;
                opacity: 50%;
            }
        }

        .img-div {
            align-self: stretch;
            border-radius: inherit;
        }
    }

}

@media screen and (max-width: 950px) {
    #about {
        .wrapper {
            flex-direction: column-reverse;

            .texts {
                padding: 0 max(2.4rem, 6.4vw);

                >* {
                    text-align: center;
                }

                .img-div {
                    height: 30rem;
                }
            }
        }
    }
}