@use "../../a-sass/abstract.scss" as *;

.cart-background {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 8rem);
    background-color: rgba($color: #000000, $alpha: .4);

    padding: 2rem $xl-padding;
    z-index: 10000;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .3s ease-out;

    @media (max-width: 1100px) {
        padding: 2rem $l-padding;
    }

    @media (max-width: 900px) {
        padding: 2rem $m-padding;
    }

    @media (max-width: 770px) {
        padding: 2rem $s-padding;
    }

    @media (max-width: 570px) {
        padding: 2rem $xs-padding;
    }

    &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .cart {
        width: 38rem;
        margin-left: auto;
        background-color: var(--white);
        padding: 3.2rem;
        border-radius: .8rem;

        >* {
            width: 100%;
        }

        // padding: 2.4rem 3.2rem;
        header {
            @include flex($juco: space-between, $alite: center);
            margin-bottom: 3.2rem;

            button {
                padding: 0 .4rem;
                text-transform: capitalize;
                border-bottom: 1px solid rgba($color: #000000, $alpha: .3);
                color: rgba($color: #000000, $alpha: .5);
            }
        }

        .cart-items {
            @extend %flex;
            flex-direction: column;
            gap: 1.8rem;

            li {
                width: 100%;

                .cart-item {
                    @include flex($juco: space-between, $alite: center);

                    .img-name-price {
                        @extend %flex;
                        gap: 1.6rem;

                        .img-div {
                            width: 6.4rem;
                            aspect-ratio: 1;
                            border-radius: .8rem;
                        }

                        .name-price {
                            .name {
                                text-transform: uppercase;
                                margin-bottom: .8rem
                            }
                        }
                    }

                    .quantity {
                        @extend %flex;
                        background-color: #f1f1f1;
                        margin-left: auto;

                        button {
                            @extend %flex;
                            padding: .8rem 1.6rem
                        }

                        input {
                            text-align: center;
                            appearance: textfield;
                            width: 2ch;
                        }
                    }
                }
            }
        }

        footer {
            margin-top: 3.2rem;

            .total-amount {
                @include flex($juco: space-between);
                margin-bottom: 2rem;

                .total {
                    text-transform: uppercase;
                    opacity: .5;
                }
            }

            button {
                margin-top: 2.4rem;
                width: 100%;
            }
        }
    }
}