.cart-item {
    @extend %space-between;
    gap: 1.2rem;

    .img-name-price {
        @extend %center;
        gap: 1.6rem;

        .img-div {
            width: 6.4rem;
            aspect-ratio: 1;
            border-radius: .4rem;
        }

        .name-price {
            .name {
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: .4rem;
            }

            .price {
                font-weight: 700;
                color: var(--gray);
                font-size: 1.5rem
            }
        }
    }

    .button-wrapper {
        @extend %center;
        align-items: stretch;
        gap: 1.2rem;

        .svg-bg {
            background-color: var(--light-gray-1);
            cursor: pointer;

            .cross-icon {
                height: 100%;
                fill: var(--gray);
            }

            &:hover {
                background-color: var(--red);

                .cross-icon {
                    fill: var(--white);
                }
            }
        }

    }

    span {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--gray);
    }
}