.cart-item {
    @extend %space-between;

    .img-name-price {
        @extend %center;
        gap: 1.6rem;

        .img-div {
            width: 6.4rem;
            aspect-ratio: 1;
            border-radius: .8rem;
        }

        .name-price {
            .name {
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: .4rem;
            }

            .price {
                font-weight: 700;
                color: var(--gray);
                font-size: 1.5rem
            }
        }
    }

    span {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--gray);
    }
}