nav#categories {
    ul {
        width: 100%;
        @extend %center;
        gap: 3.2rem;

        li {
            flex: 1;
            height: 28.4rem;
            max-height: 28.4rem;
            @include column-gap($alite: center);
            padding-bottom: 3.2rem;

            .bg-design {
                background-color: var(--light-background);
                height: 70%;
                width: 100%;
                border-radius: .8rem;
                position: absolute;
                bottom: 0;
            }

            .img-div {
                height: 16rem;
            }

            h2 {
                margin-top: auto;
                @include x-small()
            }

            a {
                margin-top: 1.2rem;
            }
        }
    }
}

@media(max-width: 690px) {
    nav#categories {
        ul {
            flex-direction: column;

            li {
                width: 100%;
                flex: auto
            }
        }
    }
}