@use "../../a-sass/abstract.scss" as *;


.name-products-wrapper {
    .category-name {
        padding-top: clamp(0rem, 13vw, 12rem);
        padding-bottom: clamp(0rem, 13vw, 12rem);
        background-color: var(--black);
        color: var(--white);

        h1 {
            text-align: center;
        }
    }

    .products {
        >*:not(:last-child) {
            margin-bottom: 8rem
        }

        >*:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}