.name-products-wrapper {
    .category-name {
        height: clamp(10rem, 16vw, 22rem);
        @extend %center;
        margin: 0 -11vw;
        padding: 0 11vw;
        background-color: var(--black);
        color: var(--white);

        @media (max-width: 1200px) {
            margin: 0 -8vw;
            padding: 0 8vw;
        }

        @media (max-width: 800px) {
            margin: 0 calc(var(--8rem) * -1);
            padding: 0 var(--8rem);
        }

        h1 {
            @extend %large;
        }
    }

    .products {
        padding-top: var(--40to64px);

        .product-intro {
            margin-bottom: var(--12rem)
        }

        .product-intro:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}