.name-products-wrapper {
    .category-name {
        height: clamp(10rem, 16vw, 24rem);
        @extend %center;
        margin: 0 -11vw;
        padding: 0 11vw;
        background-color: var(--black);
        color: var(--white);

        @media (max-width: 1200px) {
            margin: 0 -8vw;
            padding: 0 8vw;
        }

        @media (max-width: 800px) {
            margin: 0 -5.2vw;
            padding: 0 5.2vw;
        }

        h1 {
            @extend %large;
        }
    }

    .products {
        padding-top: 8rem;
        .product-intro {
            margin-bottom: 8rem
        }

        .product-intro:nth-child(even) {
            flex-direction: row-reverse;
        }

        .product-intro {
            // @extend %border;
        }
    }
}